/* Top Bar */
// a.k.a. the panel

#panel {
  color: $panel-text;
  font-weight: bold;
  font-feature-settings: "tnum";
  @include fontsize($font_size);
  transition-duration: $longer_duration;
  box-shadow: none;
  border: none;
  height: $item_size + ($base_padding * 0.5);
  background-color: if($variant == "light", rgba($white, 0.85), $black);

  @if $float == "true" {
    margin: 5px 10px 1px;
    border: 2px solid $primary;
    border-radius: $circular_radius;
  }

  // the rounded outset corners
  .panel-corner {
    -panel-corner-radius: 0;
    -panel-corner-background-color: $panel;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;
    -panel-corner-opacity: 1;
    transition-duration: $longer_duration;
  }

  // panel menus
  .panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 12px;
    font-weight: bold;
    color: $panel-text;
    transition-duration: $shorter_duration;
    border-radius: $circular_radius;
    text-shadow: none;
    box-shadow: none;
    margin: $base_margin * 0.5;

    @if $float == "true" {
      border: $base_margin solid transparent;
      border-radius: $circular_radius;
    }

    &.clock-display {
      box-shadow: none;
      margin: 0;

      .clock {
        transition-duration: $shorter_duration;
        border-radius: $circular_radius;
        margin: $base_margin * 0.5;

        @if $float == "true" {
          border: $base_margin solid transparent;
          border-radius: $circular_radius;
        }
      }
    }

    &:hover {
      color: $black;
      background-color: mix($panel-text, $primary, 40%);

      @if $float == "true" {
        border: $base_margin solid transparent;
        border-radius: $circular_radius;
      }

      &.clock-display {
        box-shadow: none;
        color: $black;

        .clock {
          box-shadow: none;
          color: $black;
          background-color: mix($panel-text, $primary, 40%);

          @if $float == "true" {
            border: $base_margin solid transparent;
            border-radius: $circular_radius;
          }
        }
      }
    }

    &:active,
    &:overview,
    &:focus,
    &:checked {
      &,
      &:hover {
        color: $black;
        background-color: $primary;
      }

      &.clock-display {
        box-shadow: none;
        color: $black;
        margin: 0;

        .clock {
          box-shadow: none;
          color: $black;
          background-color: $primary;
          margin: $base_margin * 0.5;
        }
      }
    }

    .unlock-screen &,
    .login-screen &,
    .lock-screen & {
      color: $panel-text;

      &:focus,
      &:hover,
      &:active {
        // color: $panel-text;
      }
    }

    // status area icons
    .system-status-icon {
      icon-size: $base_icon_size;
      padding: $base_padding;
      margin: 0;
      -st-icon-style: symbolic;
    }

    .appindicator-trayicons-box {
      margin: 0 $base_padding;
    }

    // app menu icon
    .app-menu-icon {
      -st-icon-style: symbolic;
      // dimensions of the icon are hardcoded
    }

    &#panelActivities {
      -natural-hpadding: $base_padding * 3;

      & StBoxLayout {
        padding: 0 $base_padding * 0.5; // use em padding to keep proportion
        spacing: 6px;
      }

      & .workspace-dot {
        border-radius: $circular_radius;
        min-width: 8px;
        min-height: 8px;
        background-color: $panel-text;
      }

      &:hover .workspace-dot {
        background-color: $black;
      }
    }
  }

  // transparent panel on lock & login screens
  &:overview,
  &.unlock-screen,
  &.login-screen,
  &.lock-screen {
    background-color: transparent;
    box-shadow: none;

    .panel-button {
      &:hover {
        color: $black;
        background-color: mix($panel-text, $primary, 40%);
        box-shadow: none;

        &.clock-display {
          box-shadow: none;
          color: $black;
          margin: 0;

          .clock {
            color: $black;
            margin: $base_margin * 0.5;
          }
        }
      }

      &:active,
      &:overview,
      &:focus,
      &:checked {
        color: $black;
        background-color: $primary;
        margin: $base_margin * 0.5;

        &.clock-display {
          box-shadow: none;
          color: $black;
          margin: 0;

          .clock {
            color: $black;
            margin: $base_margin * 0.5;
          }
        }
      }

      &#panelActivities {
        box-shadow: none;

        & .workspace-dot {
          background-color: $black;
        }
      }
    }

    .panel-corner {
      -panel-corner-radius: 0;
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent;
    }
  }

  // Input indicators
  Gjs_status_keyboard_InputSourceIndicator.panel-button, // Ibus
  Gjs_appindicatorsupport_rgcjonas_gmail_com_indicatorStatusIcon_IndicatorStatusIcon.panel-button,
  Gjs_appindicatorsupport_rgcjonas_gmail_com_indicatorStatusIcon_AppIndicatorsIndicatorStatusIcon.panel-button {
    // Fcitx
    -natural-hpadding: 12px + $base_padding !important;
    -minimum-hpadding: 12px + $base_padding !important;
  }

  // indicator for active
  .screencast-indicator,
  .remote-access-indicator {
    color: $warning;
  }
}
